ServerAliveInterval 10
ServerAlivecountMax 3
TCPKeepAlive yes
IdentityFile ~/.ssh/identity
IdentityFile ~/.ssh/id_rsa
IdentityFile ~/.ssh/id_dsa
IdentityFile ~/.ssh/%r@%h

# example
Host github.com
	User			git
	HostName		github.com
	IdentityFile	~/.ssh/git@github.com
	ForwardAgent	yes

# recycle connection
Host *
	ControlMaster auto
	ControlPath   /tmp/%r@%h:%p
