/*
/*.

!/README.md
!/symlink_dotfiles.sh
!/.awsrc.sample
!/.bashrc
!/.bash_profile
!/.Brewfile
!/.gemrc
!/.gitconfig.sample
!/.gitexclude
!/.gitignore
!/.git_templatedir
!/.mackup
!/.oneliners
!/.powconfig
!/.rspec
!/.vimrc
!/.bundle/config
!/.ssh/config.sample
!/_outdated
