/*
/*.

!/symlink_dotfiles.sh
!/.awsrc.sample
!/.bashrc
!/.bashrc.outdated
!/.bash_profile
!/.gemrc
!/.gitconfig.sample
!/.gitexclude
!/.gitignore
!/.oneliners
!/.rspec
!/.vimrc
!/.bundle/config
!/.ssh/config.sample
