/*
/*.

!/README.md
!/setup.sh
!/.bashrc
!/.bash_profile
!/.Brewfile
!/.gemrc
!/.git_excludesfile
!/.gitconfig.sample
!/.gitignore
!/.mackup
!/.oneliners
!/.rspec
!/.vimrc
!/.zshrc
!/.bundle/config
!/.ssh/config.sample
