[user]
	email =
	name =
[color]
	ui = auto
[core]
	excludesfile = ~/.git_excludesfile
	quotepath = false
	pager = diff-highlight | less
	editor = vim
[init]
	templatedir = ~/.git_templatedir
[push]
	default = simple
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[rebase]
	autosquash = true
